terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate-<project>"
    storage_account_name = "sttfstate<project>"
    container_name       = "tfstate"
    key                  = "dev.terraform.tfstate"
  }
}
